body {
  background-color: #9C9B7A;
  font-family: Helvetica;
  color: #303026;
}

.center {
  text-align: center;
}

h1 {
  font-family: Garamond;
  color: #FF974F;
  text-shadow: 2px 2px 1px rgba(48, 43, 42, 0.5);
}

h3 {
  color: #F54F29;
  text-shadow: 1px 1px 1px #000,
              -1px 0px 1px #000,
              0px -1px 1px #000;
}

div.blue a {
  color: #405952;
  font-weight: bold;
  font-variant: small-caps;
  font-family: Trebuchet;
}

img {
      display: block;
      width: 100%;
      height: auto;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td {
  height: auto;
  vertical-align: top;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 3px solid #000;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
