body {
  background-color: #FFE2DE;
  font-family: sans-serif;
  color: #302B2A;
}

.center {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  color: #078E96;
  text-shadow: 2px 2px 1px rgba(48, 43, 42, 0.5);
}

h3 {
  color: #4EDAE3;
  text-shadow: 1px 1px 1px #000,
              -1px 0px 1px #000,
              0px -1px 1px #000;
}

a {
  color: #3AA1A8;
  font-weight: bold;
  font-variant: small-caps;
}

img {
      display: block;
      width: 100%;
      height: auto;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td {
  height: auto;
  vertical-align: top;
}
